.box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    min-height: 90vh;
}
.div{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    position: relative;
    /* background-color: blue; */

}

.textArea{
    width: 100%;
    border: 2px solid black;
    min-height: 50vh;
    max-height: 50vh;
    padding: 10px;
}

.textInfo{
    position: absolute;
}
.info1{
    top: 0px;
}
.info2{
    bottom:-10px;

}
.btnContainer{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.copyBtn{
    position: absolute;
    bottom: 20px;
    cursor: pointer;
}
.copyBtn:hover{
    opacity: 0.6;
}
.copyInput{
    left: 20px;
}
.copyOutput{
    right: 20px;
}
.clearText{
    left: 145px;
}
.featureBtn{
    width:120px ;
}
.textArea:hover{
    background-color: red;
}
@media screen and (max-width:700px) {
    .div{
        flex-direction: column;
        gap: 10px;
    }
    .textAreaContainer{
        flex-direction: column;
        gap: 10px;
    }
    .copyBtn{
        position: relative;
        top: 0;
        left: 0;
    }
    .textArea{
        max-height: 130px;
        min-height: 130px;
    }
}